.wallet-wrapper {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.wallet-inner,
.wallet-info .heading {
    display: flex;
    align-items: flex-end;
}

.wallet-inner h3 {
    font-weight: 500;
    font-size: 18px;
}

.wallet-info p {
    font-size: 14px;
    color: #74b9ff;
}

.wallet-inner img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.wallet-setting .MuiSvgIcon-root {
    color: gray;
}

.total-each p {
    color: #2f2f2f;
}

.go-chart {
    color: #a29bfe;
    margin-left: 5px;
    margin-bottom: 2px;
}

.wallet-info .balance {
    font-size: 18px;
}