.transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 5px 8px;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}

.transaction .amount {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.expense {
    color: #ff5e57;
    font-weight: 500;
}

.income {
    color: #0be881;
    font-weight: 500;
}

.transaction .title {
    font-weight: 500;
}

.transaction .description,
.transaction .date {
    color: #4d4d4d;
    font-size: 14px;
}

.transaction .date {
    display: flex;
    align-items: center;
}

.transaction .date .MuiSvgIcon-root {
    font-size: 17px;
    margin-right: 3px;
}

.transaction .action {
    visibility: hidden;
}

.transaction:hover .action {
    visibility: visible;
}

.transaction:hover {
    background-color: #f5f5f5;
}